<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthWind2Entities" connectionString="provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=NorthWind2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>